.navbar {
  background-color: #78a1bb;
}

.footer .container {
  background-color: #283044;
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

/* Colour Pallette */

/* #283044 - Black
#78A1BB - Blue
#EBF5EE
#BFA89E
#8B786D */
