* {
  padding-bottom: 0px;
}

.navbar {
  background-color: #78a1bb;
}

.contact {
  background-color: #78a1bb;
}

.footer {
  background-color: #283044;
}

.white {
  color: aliceblue;
}

/* Colour Pallette */

/* #283044 - Black
#78A1BB - Blue
#EBF5EE
#BFA89E
#8B786D */
